:root {
  --jasmine: #f7d374ff;
  --melon: #f3abacff;
  --baby-powder: #f7f9f6ff;
  --cambridge-blue: rgb(148, 178, 172);
  --lapis-lazuli: #34689aff;
  --air-superiority-blue: #6ba3c8ff;
}

@keyframes run {
  from {
    transform: translateY(0%);
  }
  /* Magic is here. This is the width of the elem with text after rendering the page */
  to {
    transform: translateY(-100%);
  }
}

body {
  background-color: var(--air-superiority-blue);
}

p {
  margin-block-start: 10px;
  margin-block-end: 10px;
}

.circle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background: var(--lapis-lazuli);
  border-style: solid;
  border-color: var(--jasmine);
  border-width: 10px 10px 10px 0;
  padding: 25px;
  border-radius: 0 40px 40px 0;
}

.dot-container {
  background: url("../assets/images/larger-dots.webp") repeat;
  opacity: 0.25;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 30vh;
  z-index: 10;
}

.dot-container-top {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
  top: 0;
  left: 0;
}

.dot-container-bottom {
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
  bottom: 0;
  left: 0;
}

.text-container {
  color: #ebebeb;
  margin-left: 50px;
  width: calc(80% - 400px - 20px * 2);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-shadow: 1px 1px 2px rgba(33, 33, 33, 0.5);
}

.text-main {
  border-radius: 40px 0 0 40px;
  background: var(--lapis-lazuli);
  border: 10px solid var(--jasmine);
  padding: 10px 25px;
  max-height: 50vh;
  overflow: auto;
  scrollbar-color: rgb(147, 108, 0) var(--jasmine);
  scrollbar-width: thin;
}

.text-main-header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 500;
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
}

.text-container svg:nth-of-type(1) circle {
  fill: var(--jasmine);
}

.text-container svg:nth-of-type(2) circle {
  fill: var(--melon);
}

.text-container svg:nth-of-type(3) circle {
  fill: var(--cambridge-blue);
}

.tint {
  position: relative;
  float: left;
}

.tint:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(66, 41, 252, 0.6);
}

.title {
  background: none;
  font-family: "Tactic Sans Bold", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  color: orange;
  text-shadow: 0px 10px 0.02px #000, 9.8px 2.1px 0.02px #000,
    4.2px -9.1px 0.02px #000, -8px -6px 0.02px #000, -7.6px 6.5px 0.02px #000,
    4.8px 8.8px 0.02px #000, 9.6px -2.8px 0.02px #000, -0.7px -10px 0.02px #000,
    -9.9px -1.5px 0.02px #000, -3.5px 9.4px 0.02px #000, 8.4px 5.4px 0.02px #000,
    7.1px -7px 0.02px #000, -5.4px -8.4px 0.02px #000, -9.4px 3.5px 0.02px #000,
    1.4px 9.9px 0.02px #000, 10px 0.8px 0.02px #000, 2.9px -9.6px 0.02px #000,
    -8.7px -4.8px 0.02px #000, -6.6px 7.5px 0.02px #000, 5.9px 8px 0.02px #000,
    9.1px -4.1px 0.02px #000, -2.1px -9.8px 0.02px #000,
    -10px -0.1px 0.02px #000, -2.2px 9.8px 0.02px #000, 9.1px 4.2px 0.02px #000,
    6.1px -8px 0.02px #000, -6.5px -7.6px 0.02px #000, -8.8px 4.7px 0.02px #000,
    2.7px 9.6px 0.02px #000, 10px -0.6px 0.02px #000, 1.5px -9.9px 0.02px #000,
    -9.3px -3.6px 0.02px #000, -5.5px 8.4px 0.02px #000, 7px 7.2px 0.02px #000,
    8.5px -5.3px 0.02px #000, -3.4px -9.4px 0.02px #000,
    -9.9px 1.3px 0.02px #000, -0.8px 10px 0.02px #000, 9.6px 2.9px 0.02px #000,
    4.9px -8.7px 0.02px #000, -7.5px -6.7px 0.02px #000,
    -8.1px 5.9px 0.02px #000, 4px 9.2px 0.02px #000, 9.8px -2px 0.02px #000,
    0.2px -10px 0.02px #000, -9.7px -2.3px 0.02px #000, -4.3px 9px 0.02px #000,
    7.9px 6.1px 0.02px #000;
}

.title > svg {
  width: 50px;
  height: 50px;
}

.title > svg > path {
  filter: drop-shadow(0 2px 0.5px #000) drop-shadow(0 -2px 0.5px #000)
    drop-shadow(2px 0 0.5px #000) drop-shadow(-2px 0 0.5px #000)
    drop-shadow(1px 1px 0.5px #000) drop-shadow(-1px -1px 0.5px #000);
}

.running-line-wrapper {
  margin: auto;
  height: 100%;
  width: 400px;
  background: black;
  padding: 0 20px;
  right: 0;
  overflow: hidden;
  position: absolute;
  z-index: 15;
}

.running-line {
  animation: run 7.5s linear infinite;
  display: flex;
  flex-direction: column;
  width: 100%;
  will-change: transform;
}

.running-line img {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  object-fit: cover;
}

.running-line figure {
  margin: 0;
}
