@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "Audio Nugget";
  src: url("../assets/fonts/AudioNugget.ttf") format("truetype");
}

@font-face {
  font-family: "Neuropol";
  src: url("../assets/fonts/Neuropol.otf") format("opentype");
}

@font-face {
  font-family: "Ratkeys PC 3D W95 Regular";
  src: url("./assets/fonts/Ratkeys PC 3D W95 Regular.ttf") format("truetype");
}
