:root {
  --color-background-tint: rgba(0, 60, 255, 0.2);
}

body {
  overflow: hidden;
}

.arrow {
  position: absolute;
  right: 10vw;
  bottom: 20vh;
  display: flex;
  align-items: flex-end;
  gap: 2em;
  animation-name: arrowAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.arrow > div {
  display: flex;
  flex-direction: column;
}

.arrow > div > svg {
  height: 15vh;
  width: auto;
  transform: rotate(90deg);
  transform-origin: center center;
  opacity: 50%;
  filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.75));
}

.arrow-text {
  padding-bottom: 4vh;
  font-family: "Neuropol", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3vh;
  color: #f9f9f9;
  text-transform: lowercase;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.bg-image {
  background: linear-gradient(
      var(--color-background-tint),
      var(--color-background-tint)
    ),
    url("../assets/images/index/high-rise.webp");
  filter: blur(4px);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.content-container {
  background-color: white;
  position: absolute;
  box-sizing: border-box;
  bottom: 10vh;
  left: 10vw;
  width: 20vw;
  z-index: 10;
  display: flex;
  min-height: 40vh;
  align-items: stretch;
}

.dot-container {
  background: url("../assets/images/larger-dots.webp") repeat;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  opacity: 25%;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  width: 100vw;
  height: 25vh;
  z-index: 10;
}

.img-barcode {
  box-sizing: border-box;
  object-fit: contain;
  padding: 20px;
  background-color: white;
  flex-grow: 1;
}

.text-sub-container,
.text-main-container {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  flex: 1;
}

.letter {
  display: inline-block; /* Allows individual transformation */
  transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Smooth transition for movement and fade */
  /* margin: 0 2px;  */
}

.letter:last-child {
  font-family: "Helvetica", sans-serif;
  font-size: medium;
}

.index {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.text-container {
  color: rgb(249, 249, 249);
  font-family: "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
}

.text-sub-container {
  background-color: #ff4d00;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 16px;
}

.text-loading {
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
}

.text-main-container {
  background-color: #0d98ba;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.text-main-container:hover {
  background-color: hsl(192, 84%, 75%);
  color: rgb(20, 20, 20);
}

.text-main-container:hover .letter {
  animation-name: letterAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Optional: Add a slight delay to each letter for a staggered effect */
.text-main-container:hover .letter:nth-child(1) {
  animation-delay: 0s;
}
.text-main-container:hover .letter:nth-child(2) {
  animation-delay: 0.05s;
}
.text-main-container:hover .letter:nth-child(3) {
  animation-delay: 0.1s;
}
.text-main-container:hover .letter:nth-child(4) {
  animation-delay: 0.15s;
}
.text-main-container:hover .letter:nth-child(5) {
  animation-delay: 0.2s;
}
.text-main-container:hover .letter:nth-child(6) {
  animation-delay: 0.25s;
}
.text-main-container:hover .letter:nth-child(7) {
  animation-delay: 0.3s;
}

.text-sub-title {
  font-size: 18px;
  font-weight: 300;
}

.text-title {
  font-family: "Audio Nugget", "Impact", sans-serif;
  font-size: 48px;
  display: flex; /* Arranges letters in a row */
}

.video-container {
  height: 15vh;
  width: auto;
  position: absolute;
  left: 2em;
  top: 2em;
  z-index: 10;
}

.video-container img {
  width: 100%;
  height: 100%;
}

@keyframes letterAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
