@keyframes arrowAnimation {
  0% {
    transform: translateX(-20px) translateY(20px) rotate(-90deg);
    opacity: 0;
  }
  20% {
    transform: translateX(0) translateY(0) rotate(-90deg);
    opacity: 1;
  }
  80% {
    transform: translateX(0) translateY(0) rotate(-90deg);
    opacity: 1;
  }
  90% {
    transform: translateX(20px) translateY(-20px) rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform: translateX(-20px) translateY(20px) rotate(-90deg);
    opacity: 0;
  }
}

:root {
  --jasmine: #f7d374ff;
  --melon: #f3abacff;
  --baby-powder: #f7f9f6ff;
  --cambridge-blue: rgb(148, 178, 172);
  --lapis-lazuli: #34689aff;
  --air-superiority-blue: #6ba3c8ff;
  --shadow-color: rgba(216, 191, 216, 0.418);

  --grid-gap: 15px;
  --content-width: 800px;
}

body {
  overflow: hidden;
}

.arrow {
  animation-name: arrowAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.dot-container {
  background: url("../assets/images/larger-dots.webp") repeat;
  opacity: 0.25;
  position: absolute;
  box-sizing: border-box;
  width: 35%;
  height: 30vh;
  z-index: 10;
}

.dot-container-top {
  mask-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
  top: 0;
  left: 0;
}

.dot-container-bottom {
  mask-image: linear-gradient(
    to top right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );

  left: 0;
  bottom: 0;
}

.img-cube {
  z-index: 15;
  position: absolute;
  padding-left: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 25vw;
}

.img-cube img {
  width: 100%;
  height: auto;
}

.moodboard-col {
  display: flex;
  flex-direction: column;
  width: 30%;
  scroll-snap-align: start;
  gap: calc(var(--grid-gap));
}

.moodboard-container {
  max-width: 1000px;
  overflow: auto;
  scrollbar-color: black transparent;
  height: calc(100vh);
  scrollbar-width: thin;
  padding: 0 var(--grid-gap);
  position: absolute;
  right: 0;
  z-index: 15;
}

.moodboard-col-container {
  display: flex;
  justify-content: space-around;
}

.moodboard-col img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.moodboard-col > *:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 2px var(--shadow-color);
}

.spacer {
  height: var(--grid-gap);
  width: 100%;
}

.title {
  background: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.video-container {
  width: auto;
  position: absolute;
  z-index: 10;
}

.video-container-top {
  height: 40vh;
  left: -50px;
  top: -150px;
}

.video-container-top img {
  width: 100%;
  height: 100%;
  opacity: 0.25;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    rgba(0, 93, 253, 0.262); /* Semi-transparent background for the filter effect */
  backdrop-filter: grayscale(20%); /* Apply desired filters */
  z-index: 0; /* Place overlay between video and content */
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
