:root {
  --color-background: radial-gradient(rgb(160, 12, 23) 20%, rgb(29, 0, 3));
  --color-primary: rgb(240, 212, 8);
  --color-secondary: rgb(241, 241, 241);
  --color-border: #111111;
}

body:before {
  content: "";
  position: fixed;
  inset: 0 -50%;
  background: var(--color-border);
  transform: skewX(45deg);
  mask: linear-gradient(90deg, #0000 50%, #000 0) 0,
    linear-gradient(90deg, #0000 50%, #000 0) 0;
  mask-size: 200px 100%;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: p 2s linear infinite alternate;
}

@keyframes p {
  to {
    -webkit-mask-position: 100px, 0;
  }
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url('data:image/svg+xml,%3Csvg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z" fill="white" fill-rule="evenodd"/%3E%3C/svg%3E')
    rgb(206, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 8em;
  color: var(--color-secondary);
  -webkit-text-stroke: 1px var(--color-border);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: var(--color-background);
  padding: 3em;
  cursor: pointer;
  z-index: 10;
}

.subheading-1 {
  font-size: 2em;
  color: var(--color-primary);
  -webkit-text-stroke: 1px var(--color-border);
}

.subheading-2 {
  font-size: 1em;
  font-style: normal;
  margin-top: 0.5em;
  color: var(--color-secondary);
  -webkit-text-stroke: 0.5px var(--color-border);
}
